@mixin btnColored($grad-color, $bgColor, $borderColor){
        background-color: $bgColor;
        border-style: solid;
        border-width: 1px;
        border-color: $borderColor;
        background: linear-gradient(to right, $grad-color 50%,$bgColor 50%);
        background-size: 200% 100%;
        background-position: right bottom;
}

@mixin circle($width,$height) {
    align-items: center;
    border-radius: 50%;
    width: $width;
    height: $height;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
        
}