.news-card
{
    transition: all 0.5s ease;
    &__data
    {
        background-color: white;
        padding: 10px 25px 35px;
    }
   
    &__image
    {
        width: 100%;    
        display: block;
        
    }
    &__overlay
    {
        width: 100%;
        color: $secondary-color;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        overflow: hidden;
        // &:hover{
        //     opacity: 0.8;
            
        // }
    }
    &__name
    {
        font-size: 2.4rem;
        color: #081636;
        font-weight: 700;
        line-height: 3rem;
        transition: color 0.5s ease-in-out;
        cursor: pointer;
        &:hover{
            color:$primary-color;
        }
    }
    &__info
    {
        line-height: 2.8rem;
        color:#777777;
    }

    &--box-shadow
    {
        box-shadow: 0px 0px 43px rgba(69, 69, 69, 0.3);
        &:hover
          {
            box-shadow: 0px 0px 55px rgba(69, 69, 69, 0.4);
            .news-card__overlay
            {
              opacity: 0.8;
            }
            .news-card--scale
            {
                transform: scale(1.1);
                overflow: hidden;   
            }

          }

    }
    &--scale
    {
        transition: all 0.5s ease;
        // &:hover{
        //     transform: scale(1.1);
        //     overflow: hidden;
        // }

    }
    &:hover{
        .news-card__overlay
        {
            opacity: 0.8;

        }
    }
    
}