.circle
{
    @include circle(7rem,7rem);
    &--white
    {
        background-color: $secondary-color;
        color: $primary-color;
        font-size: 3rem;
        transition: all 0.5s ease-in-out;
    }
    
    &--dark-blue
    {
        width: 4rem;
        height: 4rem;
        color: $secondary-color;
        background-color: #081636;
        transition: all 0.5s ease-in-out;
        &:hover
            {
             background-color: $primary-color;
            }
    }

    &--transparent
    {
        width: 40px;
        height: 40px;
        color: $secondary-color;
        background-color: $trans-color;
        border-style: solid;
        border-width: 1px;
        border-color: $secondary-color;
        transition: all 0.5s ease-in-out;
        &:hover
            {
             background-color: $primary-color;
             border-color:$primary-color;
            }
    }
    &__social-icons
    {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content:space-evenly;
        cursor: pointer;
    }
    &--sm
    {
        color: #ffffff;
        height: 2rem;
        width: 2rem;
        text-align: center;
        line-height: 1rem;
        background-color: #125e74;
    }
}
